[project]
	description = Various Dockerfiles used by the AT&T Community Development Team
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wilkers-steve
[access "refs/for/refs/*"]
	read = group user/wilkers-steve
	push = group user/wilkers-steve
	label-Code-Review = -2..+2 group user/wilkers-steve
	label-Verified = -1..+1 group user/wilkers-steve
	rebase = group user/wilkers-steve
	removeReviewer = group user/wilkers-steve
	submit = group user/wilkers-steve
[access "refs/heads/*"]
	read = group user/wilkers-steve
	create = group user/wilkers-steve
	push = +force group user/wilkers-steve
	pushMerge = group user/wilkers-steve
[access "refs/tags/*"]
	push = group user/wilkers-steve
	push = +force group user/wilkers-steve
